body{
    background-color: #f5f8ff;
    margin: auto;
   
}
.hero-container{
display: flex;
align-items: center;
padding: 25px;
font-size: 1.25em;
gap:100px 200px;
font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  color:black ;
  font-style: normal;
  margin-bottom: 100px;
  margin-top: 60px;
  margin-left: 350px;
}
.hero-container img {
    width: 125%;
    height: 250px;
    border-radius: 25px;
}
main {
    max-width: 1140px;
    max-height: 271px;
    margin: 0 15px 0 150px;
    
}
.hero-container button{
    background-color: rgb(89, 31, 248);
    border-radius: 4px;
    height: 30px;
    padding: 0 20px;
    font-size: 50%;
    color: white;
    cursor: pointer;
    border:none;
}
.hero-container button:hover{
    background-color: aqua;
}